Triggering display of alien bases when Skeleton Key item is completed

CreateAlienBase is called during XGStrategyAI.InitNewGame in vanilla (has to be removed)

This means that the alien base was always there, just not revealed.

The Alien Base alert can be created in three different places :

XGGeoscape.AddMission
XGGeoscape.MissionAlert
XGGeoscape.OnAlienBaseDetected -- called from XGStrategyAI.RevealBase, which has no apparent call

So the XGMission_AlienBase has m_iDetectedBy set by default to -1, which prevents detection of the mission, which prevents an alert from being displayed (and hence no mission can be taken)

kBase.m_iDetectedBy = 0; is set in XGStrategyAI.RevealBase

it is also set in XGSituationRoomUI.OnCodeCracked
function OnCodeCracked()
{
    local int iMission;

    m_iCodePieces = 1;
    m_bCodeCracked = true;
    iMission = 0;
    J0x22:
    // End:0x13E [Loop If]
    if(iMission < GEOSCAPE().m_arrMissions.Length)
    {
        if(GEOSCAPE().m_arrMissions[iMission].m_iMissionType == 6)
        {
            GEOSCAPE().m_arrMissions[iMission].m_iDetectedBy = 0;
            GEOSCAPE().m_arrMissions[iMission].SetEntity(Spawn(class'XGMissionEntity'), 19);
        }
        ++ iMission;
        // [Loop Continue]
        goto J0x22;
    }
    Achieve(19);
    PushNarrativeHeadline(2);
    //return;    
}

This appears to be what triggers the alien base to be revealed in vanilla

In XGFacility_Labs.OnResearchComplete is:
            if(m_eLastResearched == 3) // eTech_BaseShard
            {
                STAT_SetStat(66, Game().GetDays());
                SITROOM().OnCodeCracked();
                PRES().UINarrative(xcomnarrativemoment'AlienBase', none, ResearchCinematicComplete);
            }
This means that the alien base alert is created after the base shard research is complete, not when the skeleton key item is created. However, the skeleton key is still required in order to take the mission.

This is handled in XGMissionControlUI.OnAlertInput with :
        case 8: // eGA_AlienBase
            if(iOption == 0)
            {
                if(HANGAR().m_kSkyranger.IsFlying())
                {
                    PlayBadSound();
                }
                else
                {
                    if(STORAGE().GetNumItemsAvailable(192) == 0)
                    {
                        PlayBadSound();
                    }
                    else
                    {
                        GoToView(0);
                        PRES().UIChooseSquad(GEOSCAPE().GetMission(kAlert.arrData[0]));
                    }
                }
            }
			
This prevents accepting the alert unless the skeleton key has been created.

Additionally, XGMissionControlUI.UpdateAlert sets the mission "Accept" button based upon possession of the skeleton key, which prevents accepting the mission until the key is created.